.navBar {
  margin-bottom: 1rem;
}

.icon--container {
  display: flex;
  justify-content: center;
}

.nav--badge {
  background-color: pink;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}

.icon--shoppingBasket {
  font-size: 2rem;
}